.container {
  padding: 0 2rem;
}

.main {
  min-height: 95vh;
  padding: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie_container {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  width: 250px;
  margin: 1rem;
  background-color: #444;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.movie img {
  width: 100%;
  border-radius: 3px 3px 0px 0px;
}

.movie_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(0.5em, 0.8vw, 1rem);
  padding: 1rem;
}

.movie span {
  background-color: #222;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  width: 33px;
}

.movie h3 {
  margin: 0;
  overflow: hidden;
}

.movie:hover {
  transform: scale(1.03);
}

.input_container {
  min-width: 250px;
  width: 30%;
  background-color: #444;
  height: 40px;
  padding-left: 20px;
  border-radius: 20px;
  justify-content: space-between;
}

.input_container input {
  background-color: transparent;
  width: 90%;
  height: 40px;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
}

.input_container button {
  background-color: transparent;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  height: 40px;
  font-size: 1em;
  transition: all 0.3s ease-in-out;
}

.input_container button:hover {
  color: gray;
}

.footer {
  text-align: center;
  margin-bottom: 5px;
}

